<html>
    <head>
        <title>{{title}}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <form id="form1" method="POST" action="/addNewStory" enctype="multipart/form-data">
            <img src="images/addImage.png" id="img_url" alt="your image" height="200px" width="200px">
            <input type="file" name="avatar" id="img_file" onChange="img_pathUrl(this);" ><br>
            <br>
            <button type="submit">Add Story</button>
        </form>
    <script type="text/javascript">
         function img_pathUrl(input){
            $('#img_url')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);
        }
    </script>
    </body>
</html>