<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>Search Account</h1>
        <form method="POST" action="/searchAccount">
            <label>Username</label>
            <input type="text" name="username" required>
            <button type="submit">Search</button>
        </form>
    </body>
</html>