<html>
    <head>
        <title>{{title}}</title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        
        <div id="wrapper">
        <div class="main-content">
            <div class="header">
            <img src="https://i.imgur.com/zqpwkLQ.png" />
            </div>
            <form method="POST" action="/forgetPassword">
                <div class="l-part">
                <input type="hidden" name="username" placeholder="Username" class="input-1"  />
                <div class="overlap-text">
                    <input type="email" name="email" placeholder="Email" class="input-2" />
                </div>
                <div class="overlap-text">
                    <input type="hidden" name="password" placeholder="Password" class="input-2" />
                </div>
                <input type="submit" value="Send Recovery Email" class="btn" />
                </div>
            </form>
        </div>
        <div class="sub-content">
            <div class="s-part">
            Already have an account?<a href="/login">Login</a>
            </div>
        </div>
        </div>

    </body>
</html>